@use postcss-nested;
@use postcss-cssnext;
:root {
    --color-yellow: rgb(246, 218, 28);
    --color-caption: rgb(244, 128, 36);
    --color-headline: rgb(59, 108, 137);
    --color-font-monospace: rgb(60, 94, 191);
    --color-blue: rgb(29, 71, 207);
    --color-grey: rgb(99, 99, 99);
    --color-violet: rgb(137, 0, 139);
    --color-red: rgb(207, 0 ,0);
    --color-green: rgb(129, 192, 66);
    --color-yellow: rgb(253, 179, 0);
    --color-light-yellow: rgb(255, 250, 224);
    --color-light-red: rgb(255, 237, 237);
    --color-light-blue: rgb(219,234,245);
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.jsLogo {
    flex: 0 1 auto;
    align-self: auto;
    background-color: rgb(246, 218, 28);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 30px 10px 10px 30px;
}


.infoTable {
    border: 1px dotted rgb(200, 200, 200);
    font-family: sans-serif;
    font-size: .9em;
    border-collapse: collapse;
    caption {
        text-align: left;
        font-size: 1.1rem;
        font-weight: 700;
        -color: var(--color-caption);
        padding: 5px 10px;
    }
    th,
    td {
        padding: 3px 10px;
    }
    th {
        text-align: left;
        border: 1px dotted rgb(200, 200, 200);
        color: var(--color-headline);
        font-size: .8em;
    }
    td {
        border: 1px dotted rgb(200, 200, 200);
        &:first-child {
            font-family: monospace;
            color: var(--color-font-monospace);
        }
        &:not(:first-child) {
            font-size: .8em;
        }
    }
    .group {
        border-left: 2px solid var(--color-green);
    }
}


header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    padding: 20px;

    .title {
        flex: 0 1 auto;
        align-self: auto;
        font-family: monospace;
        font-size: 40px;
        line-height: 30px;
        font-weight: 900;
        padding: 10px 20px;
        small {
            font-family: sans-serif;
            font-size: 20px;
            line-height: 16px;
            font-weight: 900;
        }
    }

    .middle {
        flex: 1 1 auto;
    }

    .setSize {
        flex: 0 1 auto;
        align-self: flex-end;
        margin-right: 50px;

        input {
            position: relative;
            cursor: pointer;
            z-index: 10;
        }
    }
}

main {
    padding: 10px 10px;

    article {
        display: inline-block;
        width: 30em;
        margin: 1em;
        padding: .625em 1.25em;
        background-color: rgb(246, 247, 249);
        box-sizing: border-box;
        font-size: 10px;
        overflow: hidden;

        &.transparent {
            background-color: rgb(255, 255, 255);
            padding: .625em 0 0 0;
        }
    }

    p {
        font-family: sans-serif;
        font-size: .9em;
        line-height: 1.3;
        margin: 0;
        padding: .625em 0;

        &.note {
            padding-left: .625em;
            border-left: 5px solid var(--color-yellow);
        }
    }

    h2 {
        text-align: left;
        font-size: 1.1em;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 1;
        color: var(--color-caption);
        padding: .625em 0 .3125em 0;
        margin: 0 0 .3125em 0;

        &.monospace {
            font-family: monospace;
            font-size:  1.6em;
            line-height: 1;
            color: rgb(0,0,0);
            border-bottom: 1px dotted rgb(170, 170, 170);
        }
    }

    h3 {
        font-family: sans-serif;
        font-size: .9em;
        line-height: 1;
        color: var(--color-headline);
        margin: 1.25em 0 0 0 ;
        padding: .625em 0;
    }

    pre {
        margin: 0 0 .625em 0;
        font-size: .9em;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        padding: .625em;
        border-left: 5px solid rgb(75, 127, 179);
        overflow: scroll;

        &.syntax {
            background-color: rgb(215, 224, 230);
            color: rgb(0, 0, 0);
        }
    }

    ul {
        margin: 0;
        li {
            font-family: sans-serif;
            font-size: 0.9em;
            line-height: 1.3em;
        }
    }

    .output {
        font-family: sans-serif;
        font-size: 1em;
        margin: .625em 0;
        padding: .625em;
        border: 1px dotted rgb(228, 228, 228);
        border-left: 5px solid rgb(228, 228, 228);
        background-color: rgb(255, 255, 255);

        &.yellow {
            background-color: var(--color-light-yellow);
        }

        &.red {
            background-color: var(--color-light-red);
        }

        .blue {
            color: var(--color-blue);
        }

        .grey {
            color: var(--color-grey)
        }

        .violet {
            color: var(--color-violet);
        }

        .red {
            color: var(--color-red);
        }

        .yellow {
            color: var(--color-yellow);
        }

        &.table {
            border: none;
            padding: 0;

            table {
                width: 100%;
                font-family: sans-serif;
                font-size: .9em;
                border-collapse: collapse;
                border: 1px solid rgb(160, 160, 160);
            }

            th, td {
                padding: 1px 5px;
            }

            th {
                background-color: rgb(235, 235, 235);
                font-weight: 400;
                text-align: left;
                color: rgb(41, 50, 59);
                border: 1px solid rgb(160, 160, 160);
            }

            td {
                border-left: 1px solid rgb(160, 160, 160);
            }

            tbody tr:nth-child(even) td {
                background-color: rgb(230, 238, 250);
            }

        }
    }

    .bar {
        text-align: right;
    }

    button {
        background-color: rgb(228, 228, 228);
        border-radius: 3px;
        border: 1px solid rgb(228, 228, 228);
        color: rgb(120, 120, 120);
        padding: .3125em .625em;
        cursor: pointer;
        font-size: .8em;

        &:focus {
            outline:none;
        }

        &:active {
            border-color: var(--color-light-blue);
            color: var(--color-headline);
            background-color: var(--color-light-blue);
            cursor: progress;
        }
    }
}

footer {
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
}
