body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.jsLogo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    background-color: rgb(246, 218, 28);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 30px 10px 10px 30px;
}


.infoTable {
    border: 1px dotted rgb(200, 200, 200);
    font-family: sans-serif;
    font-size: .9em;
    border-collapse: collapse;
}


.infoTable caption {
    text-align: left;
    font-size: 17.6px;
    font-size: 1.1rem;
    font-weight: 700;
    -color: rgb(244, 128, 36);
    padding: 5px 10px;
}


.infoTable th,
    .infoTable td {
    padding: 3px 10px;
}


.infoTable th {
    text-align: left;
    border: 1px dotted rgb(200, 200, 200);
    color: rgb(59, 108, 137);
    font-size: .8em;
}


.infoTable td {
    border: 1px dotted rgb(200, 200, 200);
}


.infoTable td:first-child {
    font-family: monospace;
    color: rgb(60, 94, 191);
}


.infoTable td:not(:first-child) {
    font-size: .8em;
}


.infoTable .group {
    border-left: 2px solid rgb(129, 192, 66);
}


header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    padding: 20px;
}


header .title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    font-family: monospace;
    font-size: 40px;
    line-height: 30px;
    font-weight: 900;
    padding: 10px 20px;
}


header .title small {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 16px;
    font-weight: 900;
}


header .middle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}


header .setSize {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 50px;
}


header .setSize input {
    position: relative;
    cursor: pointer;
    z-index: 10;
}

main {
    padding: 10px 10px;
}

main article {
    display: inline-block;
    width: 30em;
    margin: 1em;
    padding: .625em 1.25em;
    background-color: rgb(246, 247, 249);
    box-sizing: border-box;
    font-size: 10px;
    overflow: hidden;
}

main article.transparent {
    background-color: rgb(255, 255, 255);
    padding: .625em 0 0 0;
}

main p {
    font-family: sans-serif;
    font-size: .9em;
    line-height: 1.3;
    margin: 0;
    padding: .625em 0;
}

main p.note {
    padding-left: .625em;
    border-left: 5px solid rgb(253, 179, 0);
}

main h2 {
    text-align: left;
    font-size: 1.1em;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 1;
    color: rgb(244, 128, 36);
    padding: .625em 0 .3125em 0;
    margin: 0 0 .3125em 0;
}

main h2.monospace {
    font-family: monospace;
    font-size:  1.6em;
    line-height: 1;
    color: rgb(0, 0, 0);
    border-bottom: 1px dotted rgb(170, 170, 170);
}

main h3 {
    font-family: sans-serif;
    font-size: .9em;
    line-height: 1;
    color: rgb(59, 108, 137);
    margin: 1.25em 0 0 0 ;
    padding: .625em 0;
}

main pre {
    margin: 0 0 .625em 0;
    font-size: .9em;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: .625em;
    border-left: 5px solid rgb(75, 127, 179);
    overflow: scroll;
}

main pre.syntax {
    background-color: rgb(215, 224, 230);
    color: rgb(0, 0, 0);
}

main ul {
    margin: 0;
}

main ul li {
    font-family: sans-serif;
    font-size: 0.9em;
    line-height: 1.3em;
}

main .output {
    font-family: sans-serif;
    font-size: 1em;
    margin: .625em 0;
    padding: .625em;
    border: 1px dotted rgb(228, 228, 228);
    border-left: 5px solid rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
}

main .output.yellow {
    background-color: rgb(255, 250, 224);
}

main .output.red {
    background-color: rgb(255, 237, 237);
}

main .output .blue {
    color: rgb(29, 71, 207);
}

main .output .grey {
    color: rgb(99, 99, 99)
}

main .output .violet {
    color: rgb(137, 0, 139);
}

main .output .red {
    color: rgb(207, 0, 0);
}

main .output .yellow {
    color: rgb(253, 179, 0);
}

main .output.table {
    border: none;
    padding: 0;
}

main .output.table table {
    width: 100%;
    font-family: sans-serif;
    font-size: .9em;
    border-collapse: collapse;
    border: 1px solid rgb(160, 160, 160);
}

main .output.table th, main .output.table td {
    padding: 1px 5px;
}

main .output.table th {
    background-color: rgb(235, 235, 235);
    font-weight: 400;
    text-align: left;
    color: rgb(41, 50, 59);
    border: 1px solid rgb(160, 160, 160);
}

main .output.table td {
    border-left: 1px solid rgb(160, 160, 160);
}

main .output.table tbody tr:nth-child(even) td {
    background-color: rgb(230, 238, 250);
}

main .bar {
    text-align: right;
}

main button {
    background-color: rgb(228, 228, 228);
    border-radius: 3px;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(120, 120, 120);
    padding: .3125em .625em;
    cursor: pointer;
    font-size: .8em;
}

main button:focus {
    outline:none;
}

main button:active {
    border-color: rgb(219, 234, 245);
    color: rgb(59, 108, 137);
    background-color: rgb(219, 234, 245);
    cursor: progress;
}

footer {
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
}
